<div class="w-full" style="background-image: url(https://dev.urbe.university/static_assets/page-header-bg.webp)">
    <div class="mx-auto h-full max-w-6xl px-4 sm:px-6 lg:px-8">
      <div class="py-12 text-center text-white sm:py-24">
        <h1 class="text-5xl font-extrabold">{{__("FERPA General Guidance for Students")}}</h1>
        <p class="text-lgmt-6 mt-6 text-lg md:text-xl">The following guidance provides eligible students with general information.</p>
      </div>
    </div>
  </div>
  <section class="w-full pb-24 pt-16">
    <div class="mx-auto max-w-6xl px-4 text-center sm:px-6 lg:px-8">
      <div class="grid grid-cols-6 items-start gap-8">
        <main class="col-span-6 min-h-screen text-left md:col-span-4">
          <div>
            <h2 class="text-urbe text-2xl font-bold">General Guidance for Students</h2>
            <p class="mt-3">The following guidance provides eligible students with general information about the Family Educational Rights and Privacy Act (FERPA). This document is a compilation and update of various letters and guidance documents previously issued that respond to a variety of questions about FERPA. While this guidance reflects our best and most current interpretation of applicable FERPA requirements, it does not supersede the statute or regulations. We will attempt to update this document from time to time in response to questions and concerns.</p>
            <p class="mt-3">FERPA is a Federal law that is administered by the Family Policy Compliance Office (Office) in the U.S. Department of Education (Department). 20 U.S.C. § 1232g; 34 CFR Part 99. FERPA applies to all educational agencies and institutions (e.g., schools) that receive funding under any program administered by the Department. Parochial and private schools at the elementary and secondary levels generally do not receive such funding and are, therefore, not subject to FERPA. Private postsecondary schools, however, generally do receive such funding and are subject to FERPA.</p>
            <p class="mt-3">Once a student reaches 18 years of age or attends a postsecondary institution, he or she becomes an “eligible student,” and all rights formerly given to parents under FERPA transfer to the student. The eligible student has the right to have access to his or her education records, the right to seek to have the records amended, the right to have control over the disclosure of personally identifiable information from the records (except in certain circumstances specified in the FERPA regulations, some of which are discussed below), and the right to file a complaint with the Department. The term “education records” is defined as those records that contain information directly related to a student and which are maintained by an educational agency or institution or by a party acting for the agency or institution.</p>
            <p class="mt-3">FERPA generally prohibits the improper disclosure of personally identifiable information derived from education records. Thus, information that an official obtained through personal knowledge or observation, or has heard orally from others, is not protected under FERPA. This remains applicable even if education records exist which contain that information, unless the official had an official role in making a determination that generated a protected education record.</p>
            <p class="mt-3">Under FERPA, a school is not generally required to maintain particular education records or education records that contain specific information. Rather, a school is required to provide certain privacy protections for those education records that it does maintain. Also, unless there is an outstanding request by an eligible student to inspect and review education records, FERPA permits the school to destroy such records without notice to the student.</p>
          </div>

          <hr class="mt-6" />
          <div class="mt-6">
            <h3 class="text-urbe text-xl font-bold">Access to Education Records</h3>
            <p class="mt-3">Under FERPA, a school must provide an eligible student with an opportunity to inspect and review his or her education records within 45 days following its receipt of a request. A school is required to provide an eligible student with copies of education records, or make other arrangements, if a failure to do so would effectively prevent the student from obtaining access to the records. A case in point would be a situation in which the student does not live within commuting distance of the school.</p>
            <p class="mt-3">A school is not generally required by FERPA to provide an eligible student with access to academic calendars, course syllabi, or general notices such as announcements of specific events or extra-curricular activities. That type of information is not generally directly related to an individual student and, therefore, does not meet the definition of an education record.</p>
            <p class="mt-3">Under FERPA, a school is not required to provide information that is not maintained or to create education records in response to an eligible student’s request. Accordingly, a school is not required to provide an eligible student with updates on his or her progress in a course (including grade reports) or in school unless such information already exists in the form of an education record.</p>
          </div>

          <hr class="mt-6" />
          <div class="mt-6">
            <h3 class="text-urbe text-xl font-bold">Amendment of Education Records</h3>
            <p class="mt-3">Under FERPA, an eligible student has the right to request that inaccurate or misleading information in his or her education records be amended. While a school is not required to amend education records in accordance with an eligible student’s request, the school is required to consider the request. If the school decides not to amend a record in accordance with an eligible student’s request, the school must inform the student of his or her right to a hearing on the matter. If, as a result of the hearing, the school still decides not to amend the record, the eligible student has the right to insert a statement in the record setting forth his or her views. That statement must remain with the contested part of the eligible student’s record for as long as the record is maintained.</p>
            <p class="mt-3">However, while the FERPA amendment procedure may be used to challenge facts that are inaccurately recorded, it may not be used to challenge a grade, an opinion, or a substantive decision made by a school about an eligible student. FERPA was intended to require only that schools conform to fair recordkeeping practices and not to override the accepted standards and procedures for making academic assessments, disciplinary rulings, or placement determinations. Thus, while FERPA affords eligible students the right to seek to amend education records which contain inaccurate information, this right cannot be used to challenge a grade or an individual’s opinion, or a substantive decision made by a school about a student. Additionally, if FERPA’s amendment procedures are not applicable to an eligible student’s request for amendment of education records, the school is not required under FERPA to hold a hearing on the matter.</p>
          </div>

          <hr class="mt-6" />
          <div class="mt-6">
            <h3 class="text-urbe text-xl font-bold">Disclosure of Education Records</h3>
          </div>

          <hr class="mt-6" />
          <div class="mt-6">
            <h3 class="text-urbe text-xl font-bold">Annual Notification of Rights</h3>
          </div>

          <hr class="mt-6" />
          <div class="mt-6">
            <h3 class="text-urbe text-xl font-bold">Law Enforcement Units and Law Enforcement Unit Records</h3>
          </div>

          <hr class="mt-6" />
          <div class="mt-6">
            <h3 class="text-urbe text-xl font-bold">Complaints of Alleged Failures to Comply with FERPA</h3>
          </div>

          <hr class="mt-6" />
          <div class="mt-6">
            <h3 class="text-urbe text-xl font-bold">Complaints Regarding Access</h3>
          </div>

          <hr class="mt-6" />
          <div class="mt-6">
            <h3 class="text-urbe text-xl font-bold">Complaints Regarding Amendment</h3>
          </div>

          <hr class="mt-6" />
          <div class="mt-6">
            <h3 class="text-urbe text-xl font-bold">Complaints Regarding Disclosure</h3>
          </div>
        </main>

        <aside class="col-span-6 hidden justify-end text-base md:col-span-2 md:flex">
          <ul class="text-left">
            <li class="mt-2">
              <p class="border-l-urbe text-urbe border-l-4 pl-2 text-xl font-semibold">In this section</p>
            </li>
            <li class="mt-4">
              <a href="/about-us/web-accessibility-policy" class="transition-all hover:text-sky-500 hover:underline">Accessibility Policy</a>
            </li>
            <li class="mt-2">
              <a href="/about-us/equal-employment" class="transition-all hover:text-sky-500 hover:underline">Equal Employment</a>
            </li>
            <li class="mt-2">
              <a href="/about-us/campus-safety" class="transition-all hover:text-sky-500 hover:underline">Campus Safety</a>
            </li>
            <li class="mt-2">
              <a href="/about-us/code-of-ethics" class="transition-all hover:text-sky-500 hover:underline">Code of Ethics</a>
            </li>
            <li class="mt-2">
              <a href="/about-us/ferpa" class="transition-all hover:text-sky-500 hover:underline">FERPA</a>
            </li>
            <li class="mt-2">
              <a href="/about-us/student-handbook" class="transition-all hover:text-sky-500 hover:underline">Student Handbook</a>
            </li>
            <li class="mt-2">
              <a href="/about-us/terms-and-conditions" class="transition-all hover:text-sky-500 hover:underline">Website Terms</a>
            </li>
            <li class="mt-2">
              <a href="/about-us/privacy-policy" class="transition-all hover:text-sky-500 hover:underline">Privacy Policy</a>
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </section>
