/node_modules
/public/build
/public/hot
/public/storage
/public/catalog
/public/event_assets
/public/images
/public/page_assets
/public/static_assets
/public/post_assets
/storage/*.key
/storage/logs/laravel.log
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/videos
server-setup.md
