<div class="mx-auto max-w-5xl px-4 text-base sm:px-6 lg:px-8">
    <div class="py-12">
      <div class="grid grid-cols-2 items-center gap-8">
        <div class="col-span-2 md:col-span-1">
          <h1 class="font-serif text-4xl font-bold text-[#073260]">Master of Science in Instructional Design and Technology</h1>
          <p class="mt-6 leading-5 text-slate-700">The<strong>Master’s in Instructional Design and Technology</strong> is designed for students who intend to pursue careers as experts who utilize instructional resources to improve technology-based learning and performance in various environments. The program allows students to create, implement and evaluate a diverse, modern educational experience. This course was designed with working professionals in mind and offers various concentrations such as Virtual Learning, Learning Design and Technology and Instructional Design and Development.</p>
          <b></b>
              <p class="mt-6 leading-5 text-slate-700">The <strong>Instructional Design and Technology</strong> Program prepares professionals to serve a variety of audiences in diverse educational contexts in the areas of technology-based training, design, development and curriculum building. The coursework will provide students with the experience needed to effectively use technology and multimedia tools. The course connects theoretical concepts to real world applications.</p>

          <a href="https://lp.urbe.university/msidt?utm_campaign=Master+of+Instructional+Design+and+Technology&utm_source=new-website-degree-program-page" class="mt-6 inline-block rounded bg-sky-500 px-5 py-2 text-white transition-all hover:bg-sky-600"> Request Information </a>
        </div>
        <div class="col-span-2 md:col-span-1">
          <div class="grid grid-cols-2 gap-4">
            <div class="col-span-1 flex aspect-square items-center justify-center rounded-full bg-sky-100 text-[#073260]">
              <div class="text-center">
                <div class="text-4xl font-black">$100</div>
                <p class="text-sm">Application Fee </p>
                <p>(One time only)</p>
              </div>
            </div>
            <div class="col-span-1 flex aspect-square items-center justify-center rounded-full bg-sky-100 text-[#073260]">
              <div class="text-center">
                <div class="text-4xl font-black">45</div>
                <p class="text-sm">Credits hours (Total)</p>
              </div>
            </div>
            <div class="col-span-1 flex aspect-square items-center justify-center rounded-full bg-sky-100 text-[#073260]">
              <div class="text-center">
                <div class="text-4xl font-black">$3,600</div>
                <p class="text-sm">Total per Semester</p>
                <p>(Full-Time Enrollment)</p>
              </div>
            </div>
            <div class="col-span-1 flex aspect-square items-center justify-center rounded-full bg-sky-100 text-[#073260]">
              <div class="text-center">
                <div class="text-4xl font-black">$300</div>
                <p class="text-sm">Total per Credit Hours</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- About the program -->
    <div class="py-12">
      <div class="grid grid-cols-2 items-center gap-8">
        <div class="col-span-2 md:col-span-1">
          <img src="https://images.pexels.com/photos/1205651/pexels-photo-1205651.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="aspect-square w-full rounded-md object-cover object-center shadow-lg" />
        </div>
        <div class="col-span-2 md:col-span-1">
          <h2 class="text-3xl font-semibold text-[#073260]">Online Model</h2>
          <p class="mt-4 leading-5 text-slate-700"><strong>URBE University’s</strong> online platform provides students with the latest tools for collaborative virtual learning environment. Each student has the opportunity to study and apply innovative solutions for the courses; collaboration between the faculty and other students; and online resources that help the student to develop the knowledge. Our students learn doing activities in the virtual classroom as well as simulations, group encounters, attending video conferences, among other very practical activities.</p>
        </div>
      </div>
    </div>

    <div class="py-12">
      <h2 class="text-3xl font-semibold text-[#073260]">Program objectives</h2>
      <div class="w-full max-w-full">
        <ul class="mt-4">
          <li class="mt-2 list-item list-disc"><strong>URBE University’s Master of Science in Instructional Design and Technology </strong> train students to become proficient in utilizing instructional resources to improve technology-based learning and performance in various environments.</li>
          <li class="mt-2 list-item list-disc">The <strong>Master of Science in Instructional Design and Technology Program</strong> equip students with the skills and knowledge needed to create, implement and evaluate a diverse and modern educational experience.</li>
          <li class="mt-2 list-item list-disc">The <strong>program</strong> prepare students to serve a variety of audiences in diverse educational contexts in the areas of technology-based training, design, development and curriculum building.</li>
          <li class="mt-2 list-item list-disc">The <strong>program also</strong> provide students with practical experience in effectively using technology and multimedia tools, and to connect theoretical concepts to real-world applications.</li>
        </ul>
      </div>
    </div>

    <div class="w-16 border-t border-t-sky-300"></div>

    <!-- Courses, Concentrations & Career opportunities -->
  <div class="py-12" x-data="{courses: true, concentrations: false, careers: false}">
      <button class="rounded px-5 py-2 transition-all hover:bg-sky-500 hover:text-white" x-on:click="courses = true, concentrations = false, careers = false" :class="courses ? 'bg-sky-500 text-white' : 'bg-slate-200 text-slate-700'">Courses</button>
      <button class="rounded px-5 py-2 transition-all hover:bg-sky-500 hover:text-white" x-on:click="courses = false, concentrations = true, careers = false" :class="concentrations ? 'bg-sky-500 text-white' : 'bg-slate-200 text-slate-700'">Concentrations</button>
      <button class="rounded px-5 py-2 transition-all hover:bg-sky-500 hover:text-white" x-on:click="courses = false, concentrations = false, careers = true" :class="careers ? 'bg-sky-500 text-white' : 'bg-slate-200 text-slate-700'">Careers &amp; Outcomes</button>

      <!-- Courses List -->
      <div x-show="courses" x-cloak class="mt-6">
        <h3 class="text-2xl font-bold text-[#073260]">What you’ll learn</h3>
        <p class="mt-2">URBE University’s <strong>Master in Instructional Design and Technology Program</strong> encourages students to develop an investigative, creative, critical, transformative and responsible attitude towards the use and application of ICT in education and training, which favors freedom, respect, and participation in different media and technological platforms.</p>

        <div class="relative mt-6 overflow-x-auto shadow-md sm:rounded-md">
              <table class="w-full text-left text-sm text-gray-500">
                  <thead class="bg-gray-50 text-xs uppercase text-white bg-urbe">
                      <tr>
                          <th scope="col" class="px-6 py-3">Course Title</th>
                          <th scope="col" class="px-6 py-3 text-right">36 Credits</th>
                      </tr>
            </thead>
            <tbody>

              <tr>
                          <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Assessment, Learning and Instructional Design
                              (EDE 501)</th>
                          <td class="px-6 py-4 text-right">3</td>
                      </tr>
                      <tr class="bg-sky-100">
                          <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Course Development for Multimedia Design
                              (EDE 502)</td>
                          <td class="px-6 py-4 text-right">3</td>
                      </tr>
                      <tr>
                          <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Instructional Design in Global Context (EDE 503)</th>
                          <td class="px-6 py-4 text-right">3</td>
                      </tr>
                      <tr class="bg-sky-100">
                          <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Designing Future Learning Environments (EDE 504)</td>
                          <td class="px-6 py-4 text-right">3</td>
                      </tr>
                      <tr>
                          <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Education and Digital Culture (EDE 505)</th>
                          <td class="px-6 py-4 text-right">3</td>
                      </tr>
                      <tr class="bg-sky-100">
                          <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Information Literacies for Online Learning (EDE 506)</td>
                          <td class="px-6 py-4 text-right">3</td>
                      </tr>
                      <tr>
                          <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Game-Based Learning
                              (EDE 507)</th>
                          <td class="px-6 py-4 text-right">3</td>
                      </tr>
                      <tr class="bg-sky-100">
                          <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Understanding Learning in The Online Environment
                              (EDE 508)</td>
                          <td class="px-6 py-4 text-right">3</td>
                      </tr>
                      <tr>
                          <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Tests and Measurement
                              (EDE 509)</th>
                          <td class="px-6 py-4 text-right">3</td>
                      </tr>
                      <tr class="bg-sky-100">
                          <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Design of Online Collaborative Learning
                              (EDE 510)</td>
                          <td class="px-6 py-4 text-right">3</td>
                      </tr>
                      <tr>
                          <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Curriculum Theory
                              (EDE 511)</th>
                          <td class="px-6 py-4 text-right">3</td>
                      </tr>
                      <tr class="bg-sky-100">
                          <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Instructional Design and Technology Capstone
                              (EDE 640)</td>
                          <td class="px-6 py-4 text-right">3</td>
                      </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- End | Courses list -->

       <!-- Concentrations List -->
      <div x-show="concentrations" x-cloak class="mt-6">
          <h3 class="text-2xl font-bold text-[#073260]">Specialize your Degree</h3>
          <p class="mt-2">The <strong>Instructional Design and Technology program</strong> embraces students from diversified academic background and by offering flexible schedule and course delivery methods. This program integrates rich, interactive media such as videos, infographics, and e-learning activities as well as traditional didactic components such as written study guides (program notes). There are also opportunities for collaborative learning through discussion forums.</p>

          <div class="relative mt-6 overflow-x-auto shadow sm:rounded-md">
          <table class="w-full text-left text-sm text-gray-500">
            <caption class="bg-[#073260] px-5 py-2 text-left text-lg font-semibold text-white">
             VIRTUAL LEARNING
            </caption>
            <thead class="bg-gray-50 text-xs uppercase text-gray-700">
              <tr>
                <th scope="col" class="px-6 py-3">Course name</th>
                <th scope="col" class="px-6 py-3 text-right">9 Credits</th>
              </tr>
            </thead>
            <tbody>
              <tr class=" bg-white">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Distance Learning (EDE 601)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="bg-sky-100">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Media for Instruction (EDE 602)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="border-b bg-white">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Pedagogy and Innovation in Education (EDE 603)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
            </tbody>
          </table>
        </div>
          <div class="relative mt-6 overflow-x-auto shadow sm:rounded-md">
          <table class="w-full text-left text-sm text-gray-500">
            <caption class="bg-[#073260] px-5 py-2 text-left text-lg font-semibold text-white">
             LEARNING DESIGN & TECHNOLOGY
            </caption>
            <thead class="bg-gray-50 text-xs uppercase text-gray-700">
              <tr>
                <th scope="col" class="px-6 py-3">Course name</th>
                <th scope="col" class="px-6 py-3 text-right">9 Credits</th>
              </tr>
            </thead>
            <tbody>
              <tr class=" bg-white">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Learning Design (EDE 604)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="bg-sky-100">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Student-Centered Learning Using Technology (EDE 605)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="border-b bg-white">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Integration of Advanced Technologies in Education & Training (EDE 606)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
            </tbody>
          </table>
        </div>
          <div class="relative mt-6 overflow-x-auto shadow sm:rounded-md">
          <table class="w-full text-left text-sm text-gray-500">
            <caption class="bg-[#073260] px-5 py-2 text-left text-lg font-semibold text-white">
             INSTRUCTIONAL DESIGN & DEVELOPMENT
            </caption>
            <thead class="bg-gray-50 text-xs uppercase text-gray-700">
              <tr>
                <th scope="col" class="px-6 py-3">Course name</th>
                <th scope="col" class="px-6 py-3 text-right">9 Credits</th>
              </tr>
            </thead>
            <tbody>
              <tr class=" bg-white">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Instructional Design (EDE 607)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="bg-sky-100">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Development of Multimedia Instruction (EDE 608)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="border-b bg-white">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Trends and Issues in Instructional Design and Technology (EDE 609)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- End | Concentrations list -->

      <!-- Career & Outcomes -->
      <div x-show="careers" x-cloak class="mt-6">
        <h3 class="text-2xl font-bold text-[#073260]">JOB OPPORTUNITIES</h3>
        <p class="mt-2">According to the Bureau of Labor Statistics, the projected job growth for education administrators is projected to be 10 percent between 2016 and 2026. An MSIDT degree can help prepare you to be a:</p>
        <br>
        <p>- Coordinator of online programs</p>
        <br>
        <p>- Director of distance learning</p>
        <br>
        <p>- Distance learning coordinator</p>
        <br>
        <p>- Online facilitator</p>
        <br>

        <h3 class= "text-2xl font-bold text-[#073260]"> NETWORKING OPPORTUNITIES</h3>
         <p class="mt-2">Take advantage to the powerful networking tools through our URBE career services platform. You can get personal career coaching, search and apply for jobs, or make your resumé visible to employers.
              </p>
      </div>
      <!-- End | Career & Outcomes -->
  </div>
      <div class="w-16 border-t border-t-sky-300"></div>

      <!-- Pricing -->
      <div class="py-12">
      <h2 class="text-3xl font-semibold text-[#073260]">Tuition</h2>
      <p class="mt-2">Prospective students interested in pursuing a Bachelor's Degree in Mass Communication and Marketing
              at URBE University should be aware of the program's tuition and fees. The total program cost for this degree is
              $13,850 dollars, which includes all tuition, fees, and other related expenses. The cost per credit is $300
              dollars, and the program requires a total of 120 credits to complete. Students will not need to budget for
              textbooks, as they are provided at no additional cost. Other fees associated with the program amount to $350
              dollars, and students are required to pay a one-time registration fee of $100 dollars.</p>
      <a href="#" class="mt-6 inline-block rounded bg-sky-500 px-5 py-2 text-white transition-all hover:bg-sky-600">Tuition calculator</a>
    </div>
  </div>

  <section class="w-full bg-[#073260] text-white">
    <div class="mx-auto max-w-5xl px-4 py-12 sm:px-6 md:py-24 lg:px-8">
      <div class="grid w-full grid-cols-6 items-center gap-8">
        <div class="col-span-6 md:col-span-2">
          <img src="https://dev.urbe.university/static_assets/dr-belloso-bw.webp" loading="lazy" alt="Dr. Oscar Belloso Medina black and white portrait" class="mx-auto w-2/3 rounded-full border-[8px] border-white md:mx-0 md:w-full" />
        </div>
        <div class="col-span-6 md:col-span-4">
          <h2 class="text-2xl font-bold uppercase text-white lg:text-3xl">We educate future alumni to become marketable, skilled, and progressive leaders who are socially responsible and uphold ethical business standards.</h2>
          <p class="mt-4 text-lg font-bold text-white">Dr. Oscar Belloso Medina</p>
          <p class="text-white">Chancellor &amp; Founder</p>
        </div>
      </div>
    </div>
  </section>

  <div class="mx-auto max-w-5xl px-4 text-base sm:px-6 lg:px-8">
    <div class="py-12">
      [cta]
    </div>
  </div>
