<div class="mx-auto max-w-6xl px-4 text-base sm:px-6 lg:px-8">
  <div class="py-12">
    <div class="grid grid-cols-2 items-center gap-8">
      <div class="col-span-2 md:col-span-1">
        <h1 class="font-serif text-4xl font-bold text-[#073260]">Master of Science in Business Administration</h1>
        <p class="mt-6  text-slate-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consequatur quas, ab debitis doloribus et voluptate minima quibusdam quo hic velit at omnis eligendi, sed eius nam quae tenetur quasi.</p>

        <a href="#" class="mt-6 inline-block rounded bg-sky-500 px-5 py-2 text-white transition-all hover:bg-sky-600"> Request Information </a>
      </div>
      <div class="col-span-2 md:col-span-1">
        <div class="grid grid-cols-2 gap-4">
          <div class="col-span-1 flex aspect-square items-center justify-center rounded-full bg-sky-100 text-[#073260]">
            <div class="text-center">
              <div class="text-4xl font-black">120</div>
              <p class="text-sm">Concentrations</p>
            </div>
          </div>
          <div class="col-span-1 flex aspect-square items-center justify-center rounded-full bg-sky-100 text-[#073260]">
            <div class="text-center">
              <div class="text-4xl font-black">120</div>
              <p class="text-sm">Credits</p>
            </div>
          </div>
          <div class="col-span-1 flex aspect-square items-center justify-center rounded-full bg-sky-100 text-[#073260]">
            <div class="text-center">
              <div class="text-4xl font-black">120</div>
              <p class="text-sm">Alumni</p>
            </div>
          </div>
          <div class="col-span-1 flex aspect-square items-center justify-center rounded-full bg-sky-100 text-[#073260]">
            <div class="text-center">
              <div class="text-4xl font-black">120</div>
              <p class="text-sm">years</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- About the program -->
  <div class="py-12">
    <div class="grid grid-cols-2 items-center gap-8">
      <div class="col-span-2 md:col-span-1">
        <img src="https://images.pexels.com/photos/1205651/pexels-photo-1205651.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="aspect-square w-full rounded-md object-cover object-center shadow-lg" />
      </div>
      <div class="col-span-2 md:col-span-1">
        <h2 class="text-3xl font-semibold text-[#073260]">About the program</h2>
        <p class="mt-4  text-slate-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consequatur quas, ab debitis doloribus et voluptate minima quibusdam quo hic velit at omnis eligendi, sed eius nam quae tenetur quasi.</p>
      </div>
    </div>
  </div>

  <div class="py-12">
    <h2 class="text-3xl font-semibold text-[#073260]">Program objectives</h2>
    <div class="w-full max-w-full">
      <ul class="mt-4">
        <li class="mt-2 list-item list-disc">URBE University’s MBA Program develops strategic business leaders by offering superior, ample education in several business disciplines.</li>
        <li class="mt-2 list-item list-disc">The MBA Program assimilates theory and practice by choosing faculty members who are leaders in their community and professionals in their field with professional experience and academic achievement.</li>
        <li class="mt-2 list-item list-disc">The MBA program embraces students from diversified academic backgrounds and by offering flexible schedule and course delivery methods.</li>
        <li class="mt-2 list-item list-disc">The MBA course offerings are expanded to the following specializations, Accounting, Finance, Healthcare Administration, Human Resource Management, Information Security Management, Management, and Supply Chain Management. By doing so, graduates are more marketable and prepared to compete in the current job markets.</li>
      </ul>
    </div>
  </div>

  <div class="w-16 border-t border-t-sky-300"></div>

  <!-- Courses, Concentrations & Career opportunities -->
  <div class="py-12" x-data="{courses: true, careers: false}">
    <button class="rounded px-5 py-2 transition-all hover:bg-sky-500 hover:text-white" x-on:click="courses = true, careers = false" :class="courses ? 'bg-sky-500 text-white' : 'bg-slate-200 text-slate-700'">Courses</button>
    <button class="rounded px-5 py-2 transition-all hover:bg-sky-500 hover:text-white" x-on:click="courses = false, careers = true" :class="careers ? 'bg-sky-500 text-white' : 'bg-slate-200 text-slate-700'">Careers &amp; Outcomes</button>

    <!-- Courses List -->
    <div x-show="courses" x-cloak class="mt-6">
      <h3 class="text-2xl font-bold text-[#073260]">What you’ll learn</h3>
      <p class="mt-2">URBE University’s MBA Program develops strategic business leaders by offering superior, ample education in several business disciplines. Additionally, the MBA Program assimilates theory and practice by choosing faculty members who are leaders in their community and professionals in their field with professional experience and academic achievement.</p>

      <div class="relative mt-6 overflow-x-auto shadow-md sm:rounded-md">
        <table class="w-full text-left text-sm text-gray-500 dark:text-gray-400">
          <thead class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">Course name</th>
              <th scope="col" class="px-6 py-3 text-right">Credits</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Apple Watch 5</th>
              <td class="px-6 py-4 text-right">3</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- End | Courses list -->

    <!-- Career & Outcomes -->
    <div x-show="careers" x-cloak class="mt-6">
      <h3 class="text-2xl font-bold text-[#073260]">Career opportunities</h3>
      <p class="mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse facilis doloremque expedita aut atque sit doloribus officiis distinctio illo cum hic beatae recusandae consectetur modi voluptatem, tempore, incidunt tenetur! Repellendus?</p>
    </div>
    <!-- End | Career & Outcomes -->
  </div>

  <div class="w-16 border-t border-t-sky-300"></div>

  <!-- Pricing -->
  <div class="py-12">
    <h2 class="text-3xl font-semibold text-[#073260]">Tuition</h2>
    <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque provident nostrum amet nobis cum esse sit blanditiis dolorem incidunt fugiat nam, perspiciatis maxime. Totam delectus atque quo sapiente, alias nostrum?</p>
    <a href="#" class="mt-6 inline-block rounded bg-sky-500 px-5 py-2 text-white transition-all hover:bg-sky-600">Tuition calculator</a>
  </div>
</div>

<section class="w-full bg-[#073260] text-white">
  <div class="mx-auto max-w-6xl px-4 py-12 sm:px-6 md:py-24 lg:px-8">
    <div class="grid w-full grid-cols-6 items-center gap-8">
      <div class="col-span-6 md:col-span-2">
        <img src="https://urbeuniversity.edu/static_assets/dr-belloso-bw.webp" loading="lazy" alt="Dr. Oscar Belloso Medina black and white portrait" class="mx-auto w-2/3 rounded-full border-[8px] border-white md:mx-0 md:w-full" />
      </div>
      <div class="col-span-6 md:col-span-4">
        <h2 class="text-2xl font-bold uppercase text-white lg:text-3xl">We educate future alumni to become marketable, skilled, and progressive leaders who are socially responsible and uphold ethical business standards.</h2>
        <p class="mt-4 text-lg font-bold text-white">Dr. Oscar Belloso Medina</p>
        <p class="text-white">Chancellor &amp; Founder</p>
      </div>
    </div>
  </div>
</section>

<div class="mx-auto max-w-6xl px-4 text-base sm:px-6 lg:px-8">
  <div class="py-12">
    [cta]
  </div>
</div>

