<div class="w-full" style="background-image: url(https://urbeuniversity.edu/static_assets/page-header-bg.webp)">
    <div class="mx-auto h-full max-w-5xl px-4 sm:px-6 lg:px-8">
      <div class="py-12 text-left text-white sm:py-24">
        <h1 class="text-4xl font-extrabold lg:text-5xl">Bachelor of Science in Business Administration</h1>
        <p class="mt-6 text-lg md:text-xl">This program prepares students with the necessary skills and academic knowledge for management positions in various business enterprises.</p>
      </div>
    </div>
  </div>

  <div class="mx-auto max-w-5xl px-4 text-base sm:px-6 lg:px-8 text-slate-700">

      <!-- About the program -->
      <div class="py-12">
        <h2 class="text-3xl font-semibold text-[#073260]">About the program</h2>
        <p class="mt-4 text-justify">The <strong>Bachelor’s Degree in Business Administration </strong>(B.B.A.) offers a core business curriculum infused with the application of ethics and corporate social responsibility principles in a technologically savvy environment. Graduates from this program acquire the necessary skills to solve interesting and challenging issues involving the creation and exchange of goods and services, the management and development of personnel, and the efficient and socially responsible use of resources. Our goal is to produce highly versatile, receptive and knowledgeable graduates who have mastered the fundamentals of business and have a steady command of the world’s dynamic economy. URBE’s Professional BBA qualifies you for challenging careers in a wide variety of fields, many of which are management positions.</p>
      </div>

    <!-- Program Image -->
    <img src="https://urbeuniversity.edu/images/hsz2ntvXkAk4kckHk3KsCeI2CCbixKRqkCmhAFb3.webp"
    alt=""
    class="w-full aspect-video rounded-lg shadow-lg object-cover object-center">
    <!-- End of Program Image -->

      <div class="py-12">
        <div class="grid grid-cols-2 items-center gap-8">
            <div class="col-span-2">
                <p class="mt-2 text-lg font-semibold text-urbe">Some of the key areas covered in this program include:</p>
                <p class="mt-2"><strong class="font-medium underline">Operation Management</strong>: This area deals with the planning, organizing, and controlling of the processes involved in the production and delivery of goods and services. Students will learn about operations strategy, supply chain management, and quality control.</p>
                <p class="mt-2"><strong class="font-medium underline">Organizational Behavior</strong>: This field focuses on understanding human behavior within an organizational context. Topics covered may include motivation, communication, leadership, and team dynamics.</p>
                <p class="mt-2"><strong class="font-medium underline">Business Law</strong>: Students will learn about the legal aspects of business operations, including contract law, intellectual property rights, and employment law.</p>
                <p class="mt-2"><strong class="font-medium underline">Marketing</strong>: This area covers the principles and practices of promoting and selling products or services. Students will learn about market research, branding, advertising, and consumer behavior.</p>
                <p class="mt-2"><strong class="font-medium underline">International Business</strong>: This field deals with the challenges and opportunities of conducting business in a global context. Students will learn about international trade, cultural differences, and global marketing strategies.</p>
                <p class="mt-2"><strong class="font-medium underline">Accounting</strong>: This area covers the principles and practices of financial record-keeping and reporting. Students will learn about financial statements, budgeting, and taxation.</p>
                <p class="mt-2"><strong class="font-medium underline">Financial</strong>: This field focuses on the management of financial resources within an organization. Topics covered may include investment analysis, financial risk management, and capital budgeting.</p>
                <p class="mt-2"><strong class="font-medium underline">Information Technology</strong>: Students will learn about the use of technology in business operations, including data management, e-commerce, and cybersecurity.</p>
                <p class="mt-2"><strong class="font-medium underline">Ethics and Social Responsibility</strong>: This area deals with the moral and ethical issues involved in business operations. Students will learn about corporate social responsibility, sustainability, and ethical decision-making.</p>
            </div>
          </div>
      </div>

      <div class="py-12">
          <h2 class="text-3xl font-semibold text-[#073260]">Program objectives</h2>
          <div class="w-full max-w-full">
              <ul class="mt-3 ml-4 list-disc">
                  <li>Develop students' knowledge and skills in key business disciplines: The program should aim to provide a broad understanding of various business fields such as accounting, finance, marketing, management, operations, and information technology. Students should be able to apply this knowledge in practical business situations.</li>
                  <li>Foster critical thinking and problem-solving abilities: The program should aim to develop students' analytical and problem-solving skills, enabling them to identify and solve complex business problems. Students should be able to analyze business situations, make decisions based on sound judgment, and evaluate the effectiveness of their decisions.</li>
                  <li>Enhance communication and interpersonal skills: The program should aim to improve students' communication and interpersonal skills, including verbal and written communication, teamwork, and leadership. Students should be able to communicate effectively, work collaboratively with others, and lead teams to achieve business goals.</li>
                  <li>Promote ethical and socially responsible behavior: The program should aim to promote ethical and socially responsible behavior among students. Students should be able to understand the ethical issues involved in business operations, and develop strategies for making socially responsible decisions. They should also be able to demonstrate ethical leadership and contribute to the betterment of society.
                  </li>
              </ul>
          </div>
      </div>

      <div class="w-16 border-t border-t-sky-300"></div>

      <!-- Courses, Concentrations & Career opportunities -->
      <div class="py-12" x-data="{courses: true, careers: false}">
          <button class="rounded px-5 py-2 transition-all hover:bg-sky-500 hover:text-white"
              x-on:click="courses = true, careers = false"
              :class="courses ? 'bg-sky-500 text-white' : 'bg-slate-200 text-slate-700'">Courses</button>
          <button class="rounded px-5 py-2 transition-all hover:bg-sky-500 hover:text-white"
              x-on:click="courses = false, careers = true"
              :class="careers ? 'bg-sky-500 text-white' : 'bg-slate-200 text-slate-700'">Careers &amp; Outcomes</button>

          <!-- Courses List -->
          <div x-show="courses" x-cloak class="mt-6">
              <h3 class="text-2xl font-bold text-[#073260]">What you’ll learn</h3>
              <p class="mt-2">URBE University’s BBA Program develops strategic business leaders by offering superior, ample education in several business disciplines. Additionally, the BBA Program assimilates theory and practice by choosing faculty members who are leaders in their community and professionals in their field with professional experience and academic achievement.</p>

              <div class="relative mt-6 overflow-x-auto shadow-md sm:rounded-md">
                  <table class="w-full text-left text-sm text-gray-500">
                      <thead class="bg-gray-50 text-xs uppercase text-white bg-urbe">
                          <tr>
                              <th scope="col" class="px-6 py-3">General Education</th>
                              <th scope="col" class="px-6 py-3 text-right">36 Credits</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Art History
                                  (ARH 250)</td>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr class="bg-sky-100">
                              <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">College
                                  Composition I (ENC 120)</td>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr>
                              <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">College
                                  Composition II (ENC 121)</th>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr class="bg-sky-100">
                              <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Environmental
                                  Science (ENV 301)</td>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr>
                              <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">World
                                  Geography (GEO 300)</th>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr class="bg-sky-100">
                              <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">College Math
                                  I (MAC 105)</td>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr>
                              <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">College Math
                                  II (MAC 114)</th>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr class="bg-sky-100">
                              <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Critical
                                  Thinking (PHI 410)</td>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr>
                              <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Psychology
                                  (PSY 201)</th>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr class="bg-sky-100">
                              <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Sociology
                                  (SOC 201)</td>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr>
                              <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Oral
                                  Communication (SPC 360)</th>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr class="bg-sky-100">
                              <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Applied
                                  Statistics (STA 340)</td>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div class="relative mt-6 overflow-x-auto shadow-md sm:rounded-md">
                  <table class="w-full text-left text-sm text-gray-500">
                      <thead class="text-xs uppercase text-white bg-urbe">
                          <tr>
                              <th scope="col" class="px-6 py-3">Core Courses</th>
                              <th scope="col" class="px-6 py-3 text-right">84 Credits</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Principles of Accounting (ACG 001)</td>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr class="bg-sky-100">
                              <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Managerial Accounting (ACG 002)</td>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr>
                              <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Accounting Information Systems (ACG 451)</th>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr class="bg-sky-100">
                              <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Business Law (BUL 370)</td>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr>
                              <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Computer Applications and Systems (CAP 330)</th>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr class="bg-sky-100">
                              <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Principles of Macroeconomics
                                  (ECO 360)</td>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr>
                              <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Principles of Microeconomics (ECO 380)</th>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr class="bg-sky-100">
                              <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Cost Analysis (ECO 424)</td>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr>
                              <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Ethics and Social Responsibility (ETH 340)</th>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr class="bg-sky-100">
                              <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Corporate Finance (FIN 215)</td>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr>
                              <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Finance for Business
                                  (FIN 390)</th>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr class="bg-sky-100">
                              <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Management Information Systems
                                  (ISM 310)</td>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr>
                              <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">International Business (MAN 301)</th>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr class="bg-sky-100">
                              <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Quality Management (MAN 310)</td>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr>
                              <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Organizational Behavior (MAN 312)</th>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr class="bg-sky-100">
                              <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Business Ethics (MAN 315)</td>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr>
                              <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Principles of Management
                                  (MAN 317)</th>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr class="bg-sky-100">
                              <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Operations Management
                                  (MAN 319)</td>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr>
                              <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Organizational Development (MAN 330)</th>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr class="bg-sky-100">
                              <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Human Resources Management (MAN 350)</td>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr>
                              <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Integrated Business Topics (MAN 410)</th>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr class="bg-sky-100">
                              <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Administration and Supervision (MAN 415)</td>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr>
                              <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Project Management
                                  (MAN 419)</th>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr class="bg-sky-100">
                              <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Global Business Strategies
                                  (MAN 420)</td>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr>
                              <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Strategic Management
                                  (MAN 440)</th>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr class="bg-sky-100">
                              <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Marketing
                                  (MAR 400)</td>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr>
                              <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Quantitative Business Research
                                  (QMB 400)</th>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                          <tr class="bg-sky-100">
                              <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 ">Capstone
                                  (MAN 450)</td>
                              <td class="px-6 py-4 text-right">3</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
          <!-- End | Courses list -->
          <!-- Career & Outcomes -->
          <div x-show="careers" x-cloak class="mt-6">
          <h3 class="text-2xl font-bold text-[#073260]">Career opportunities</h3>
          <p class="mt-2">Earning a Bachelor's Degree in Mass Communication and Marketing from URBE University opens up a
              wide range of exciting career opportunities in the dynamic and rapidly evolving field of media and
              marketing. Graduates of this program can pursue a variety of roles in advertising, public relations,
              journalism, digital media, and market research. They may work as account executives, media planners, content
              creators, social media managers, public relations specialists, journalists, or market research analysts,
              among many other roles. They may also pursue careers in branding, event planning, media buying, or other
              related fields. With their comprehensive understanding of mass communication and marketing theories and
              techniques, ethical considerations, and the ability to utilize industry tools and techniques, graduates of
              this program are well-equipped to succeed in a variety of roles and to make significant contributions to the
              industry.</p>
          <br>
          <p><a href="https://data.bls.gov/projections/occupationProj" class="underline" target="_blank">According to the Bureau of Labor Statistics</a>, the job growth for general and operations managers is projected
              to be 9 percent between 2016 and 2026. An BMCM can help prepare you to be a:</p>
          <br>
          <ul class="ml-4 mt-3 list-disc">
              <li>Communications Director</li>
              <li>Communications Director</li>
              <li>Communications Director</li>
              <li>Marketing Specialist</li>
              <li>Public Relations (PR) Manager</li>
              <li>Social Media Manager</li>
          </ul>
      </div>
          <!-- End | Career & Outcomes -->
      </div>

      <div class="w-16 border-t border-t-sky-300"></div>

      <!-- Pricing -->
      <div class="py-12">
          <h2 class="text-3xl font-semibold text-[#073260]">Tuition</h2>
          <p class="mt-2">Prospective students interested in pursuing a Bachelor's Degree in Mass Communication and Marketing
              at URBE University should be aware of the program's tuition and fees. The total program cost for this degree is
              $30,450 dollars, which includes all tuition, fees, and other related expenses. The cost per credit is $250
              dollars, and the program requires a total of 120 credits to complete. Students will not need to budget for
              textbooks, as they are provided at no additional cost. Other fees associated with the program amount to $350
              dollars, and students are required to pay a one-time registration fee of $100 dollars.</p>
              <a href="#"
              class="mt-6 inline-block rounded bg-sky-500 px-5 py-2 text-white transition-all hover:bg-sky-600">Tuition
              calculator</a>
      </div>
  </div>


  <section class="w-full bg-[#073260] text-white">
      <div class="mx-auto max-w-5xl px-4 py-12 sm:px-6 md:py-24 lg:px-8">
          <div class="grid w-full grid-cols-6 items-center gap-8">
              <div class="col-span-6 md:col-span-2">
                  <img src="https://urbeuniversity.edu/static_assets/dr-belloso-bw.webp" loading="lazy"
                      alt="Dr. Oscar Belloso Medina black and white portrait"
                      class="mx-auto w-2/3 rounded-full border-[8px] border-white md:mx-0 md:w-full" />
              </div>
              <div class="col-span-6 md:col-span-4">
                  <h2 class="text-2xl font-bold uppercase text-white lg:text-3xl">We educate future alumni to become
                      marketable, skilled, and progressive leaders who are socially responsible and uphold ethical
                      business standards.</h2>
                  <p class="mt-4 text-lg font-bold text-white">Dr. Oscar Belloso Medina</p>
                  <p class="text-white">Chancellor &amp; Founder</p>
              </div>
          </div>
      </div>
  </section>

  <div class="mx-auto max-w-5xl px-4 text-base sm:px-6 lg:px-8">
      <div class="py-12">
          [cta]
      </div>
  </div>

