<div class="w-full" style="background-image: url(https://urbeuniversity.edu/static_assets/page-header-bg.webp)">
    <div class="mx-auto h-full max-w-6xl px-4 sm:px-6 lg:px-8">
      <div class="py-12 text-left text-white sm:py-24">
        <h1 class="text-4xl font-extrabold lg:text-5xl">Master of Science in Business Administration</h1>
        <p class="mt-6 text-lg md:text-xl">This program prepares students with the necessary skills and academic knowledge for management positions in various business enterprises.</p>
      </div>
    </div>
  </div>
  <div class="mx-auto max-w-6xl px-4 text-base sm:px-6 lg:px-8">
    <div class="py-12">
      <h2 class="text-3xl font-semibold text-[#073260]">About the program</h2>
      <p class="mt-6 "><strong>URBE University MBA program</strong> aims to provide a solid education in offering courses across several functional areas. The MBA degree program requires the completion of 45 credit hours of which 36 credits are core/foundation courses. Each concentration consists of 9 credit hours for each concentration. Additionally, the students will have an opportunity to choose from the following concentrations: Accounting, Finance, Healthcare Administration, Human Resource Management, Information Security Management, Management, and Supply Chain Management.</p>
    </div>
    <!-- Program Image -->
    <img src="https://urbeuniversity.edu/images/5bjRa4SqX3Wa66rQlnGUGL3imioGnLlKxcTvcXEo.webp"
    alt=""
    class="w-full aspect-video rounded-lg shadow-lg object-cover object-center">
    <!-- End of Program Image -->
    <div class="py-12">
      <h2 class="text-3xl font-semibold text-[#073260]">Program objectives</h2>
      <div class="w-full max-w-full">
        <ul class="mt-4">
          <li class="mt-2 list-item list-disc"><strong>URBE University’s MBA Program</strong> develops strategic business leaders by offering superior, ample education in several business disciplines.</li>
          <li class="mt-2 list-item list-disc">The <strong>MBA Program</strong> assimilates theory and practice by choosing faculty members who are leaders in their community and professionals in their field with professional experience and academic achievement.</li>
          <li class="mt-2 list-item list-disc">The <strong>MBA program</strong> embraces students from diversified academic backgrounds and by offering flexible schedule and course delivery methods.</li>
          <li class="mt-2 list-item list-disc">The <strong>MBA</strong> course offerings are expanded to the following specializations, Accounting, Finance, Healthcare Administration, Human Resource Management, Information Security Management, Management, and Supply Chain Management. By doing so, graduates are more marketable and prepared to compete in the current job markets.</li>
        </ul>
      </div>
    </div>

    <div class="w-16 border-t border-t-sky-300"></div>

    <!-- Courses, Concentrations & Career opportunities -->
    <div class="py-12" x-data="{courses: true, concentrations: false, careers: false}">
      <button class="rounded px-5 py-2 transition-all hover:bg-sky-500 hover:text-white" x-on:click="courses = true, concentrations = false, careers = false" :class="courses ? 'bg-sky-500 text-white' : 'bg-slate-200 text-slate-700'">Courses</button>
      <button class="rounded px-5 py-2 transition-all hover:bg-sky-500 hover:text-white" x-on:click="courses = false, concentrations = true, careers = false" :class="concentrations ? 'bg-sky-500 text-white' : 'bg-slate-200 text-slate-700'">Concentrations</button>
      <button class="rounded px-5 py-2 transition-all hover:bg-sky-500 hover:text-white" x-on:click="courses = false, concentrations = false, careers = true" :class="careers ? 'bg-sky-500 text-white' : 'bg-slate-200 text-slate-700'">Careers &amp; Outcomes</button>

      <!-- Courses List -->
      <div x-show="courses" x-cloak class="mt-6">
        <h3 class="text-2xl font-bold text-[#073260]">What you’ll learn</h3>
        <p class="mt-2">URBE University’s MBA Program develops strategic business leaders by offering superior, ample education in several business disciplines. Additionally, the MBA Program assimilates theory and practice by choosing faculty members who are leaders in their community and professionals in their field with professional experience and academic achievement.</p>

        <div class="relative mt-6 overflow-x-auto shadow-md sm:rounded-md">
          <table class="w-full text-left text-sm text-gray-500">
            <thead class="bg-gray-50 bg-urbe text-xs uppercase text-white">
              <tr>
                <th scope="col" class="px-6 py-3">Course Title</th>
                <th scope="col" class="px-6 py-3 text-right">36 Credits</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900">Managing Multicultural Organizations (MBA 600)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="bg-sky-100">
                <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900">Leadership Strategy & Management (MBA 605)</td>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr>
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900">Managerial Ethics (MBA 610)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="bg-sky-100">
                <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900">Business Research Methods (MBA 615)</td>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr>
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900">Human Resources Management (MBA 620)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="bg-sky-100">
                <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900">Strategic Marketing (MBA 625)</td>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr>
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900">Managerial Accounting (MBA 630)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="bg-sky-100">
                <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900">Economics of Organizational Architecture and Strategy (MBA 635)</td>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr>
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900">Production and Operations Management (MBA 640)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="bg-sky-100">
                <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900">Business Law (MBA 645)</td>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr>
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900">Finance (MBA 650)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="bg-sky-100">
                <td scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900">Capstone Project (MBA 699)</td>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- End | Courses list -->

      <!-- Concentrations List -->
      <div x-show="concentrations" x-cloak class="mt-6">
        <h3 class="text-2xl font-bold text-[#073260]">Specialize your MBA</h3>
        <p class="mt-2">The MBA program embraces students from diversified academic background and by offering flexible schedule and course delivery methods. This program integrates rich, interactive media such as videos, infographics, and e-learning activities as well as traditional didactic components such as written study guides (program notes). There are also opportunities for collaborative learning through discussion forums.</p>

        <div class="relative mt-6 overflow-x-auto shadow sm:rounded-md">
          <table class="w-full text-left text-sm text-gray-500">
            <caption class="bg-[#073260] px-5 py-2 text-left text-lg font-semibold text-white">
              HUMAN RESOURCES MANAGEMENT
            </caption>
            <thead class="bg-gray-50 text-xs uppercase text-gray-700">
              <tr>
                <th scope="col" class="px-6 py-3">Course name</th>
                <th scope="col" class="px-6 py-3 text-right">9 Credits</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-b bg-white">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Performance Management (MBA 665)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="bg-sky-100">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Compensation and Benefits (MBA 666)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="border-b bg-white">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Recruitment and Selection (MBA 667)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="relative mt-6 overflow-x-auto shadow sm:rounded-md">
          <table class="w-full text-left text-sm text-gray-500">
            <caption class="bg-[#073260] px-5 py-2 text-left text-lg font-semibold text-white">
              INFORMATION SECURITY MANAGEMENT
            </caption>
            <thead class="bg-gray-50 text-xs uppercase text-gray-700">
              <tr>
                <th scope="col" class="px-6 py-3">Course name</th>
                <th scope="col" class="px-6 py-3 text-right">9 Credits</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-b bg-white">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Legal Aspects of Cybersecurity (MBA 669)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="bg-sky-100">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Cybersecurity (MBA 670)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="border-b bg-white">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Information System Quality and Control (MBA 671)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="relative mt-6 overflow-x-auto shadow sm:rounded-md">
          <table class="w-full text-left text-sm text-gray-500">
            <caption class="bg-[#073260] px-5 py-2 text-left text-lg font-semibold text-white">
              ACCOUNTING
            </caption>
            <thead class="bg-gray-50 text-xs uppercase text-gray-700">
              <tr>
                <th scope="col" class="px-6 py-3">Course name</th>
                <th scope="col" class="px-6 py-3 text-right">9 Credits</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-b bg-white">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Advanced Auditing (MBA 655)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="bg-sky-100">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Corporate Income Tax (MBA 657)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="border-b bg-white">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Financial Accounting (MBA 656)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="relative mt-6 overflow-x-auto shadow sm:rounded-md">
          <table class="w-full text-left text-sm text-gray-500">
            <caption class="bg-[#073260] px-5 py-2 text-left text-lg font-semibold text-white">
              HEALTHCARE ADMINISTRATION
            </caption>
            <thead class="bg-gray-50 text-xs uppercase text-gray-700">
              <tr>
                <th scope="col" class="px-6 py-3">Course name</th>
                <th scope="col" class="px-6 py-3 text-right">9 Credits</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-b bg-white">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Health Services Administration (MBA 662)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="bg-sky-100">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Human Resources in Health Care (MBA 663)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="border-b bg-white">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Healthcare Law (MBA 664)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="relative mt-6 overflow-x-auto shadow sm:rounded-md">
          <table class="w-full text-left text-sm text-gray-500">
            <caption class="bg-[#073260] px-5 py-2 text-left text-lg font-semibold text-white">
              FINANCE
            </caption>
            <thead class="bg-gray-50 text-xs uppercase text-gray-700">
              <tr>
                <th scope="col" class="px-6 py-3">Course name</th>
                <th scope="col" class="px-6 py-3 text-right">9 Credits</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-b bg-white">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Managerial Finance (MBA 659)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="bg-sky-100">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Financial Markets and Institutions (MBA 660)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="border-b bg-white">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Financial Banking Management (MBA 661)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="relative mt-6 overflow-x-auto shadow sm:rounded-md">
          <table class="w-full text-left text-sm text-gray-500">
            <caption class="bg-[#073260] px-5 py-2 text-left text-lg font-semibold text-white">
              MANAGEMENT
            </caption>
            <thead class="bg-gray-50 text-xs uppercase text-gray-700">
              <tr>
                <th scope="col" class="px-6 py-3">Course name</th>
                <th scope="col" class="px-6 py-3 text-right">9 Credits</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-b bg-white">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Managing Human Capital (MBA 673)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="bg-sky-100">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Organizational Change (MBA 674)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="border-b bg-white">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Critical Thinking for Managers (MBA 675)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="relative mt-6 overflow-x-auto shadow sm:rounded-md">
          <table class="w-full text-left text-sm text-gray-500">
            <caption class="bg-[#073260] px-5 py-2 text-left text-lg font-semibold text-white">
              SUPPLY CHAIN MANAGEMENT
            </caption>
            <thead class="bg-gray-50 text-xs uppercase text-gray-700">
              <tr>
                <th scope="col" class="px-6 py-3">Course name</th>
                <th scope="col" class="px-6 py-3 text-right">9 Credits</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-b bg-white">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Global Logistics Management (MBA 677)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="bg-sky-100">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Logistics Systems and Analytics (MBA 678)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
              <tr class="border-b bg-white">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">Chain Logistics Strategy (MBA 679)</th>
                <td class="px-6 py-4 text-right">3</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- End | Concentrations list -->

      <!-- Career & Outcomes -->
      <div x-show="careers" x-cloak class="mt-6">
        <h3 class="text-2xl font-bold text-[#073260]">JOB OPPORTUNITIES</h3>
        <p class="mt-2"><a href="https://www.bls.gov/ooh/management/administrative-services-managers.htm#tab-1" class="underline" target="_blank">According to the Bureau of Labor Statistics</a>, the job growth for general and operations managers is projected to be 9 percent between 2016 and 2026. An MBA can help prepare you to be a:</p>

        <ul class="ml-4 mt-3 list-disc">
          <li>Business manager</li>
          <li>Facilities manager</li>
          <li>General manager</li>
          <li>Operations director</li>
          <li>Administrative director</li>
        </ul>

        <h3 class="mt-6 text-2xl font-bold text-[#073260]">NETWORKING OPPORTUNITIES</h3>
        <p class="mt-2">Take advantage to the powerful networking tools through our URBE career services platform. You can get personal career coaching, search and apply for jobs, or make your resumé visible to employers.</p>
      </div>
      <!-- End | Career & Outcomes -->
    </div>

    <div class="w-16 border-t border-t-sky-300"></div>

    <!-- Pricing -->
    <div class="py-12">
      <h2 class="text-3xl font-semibold text-[#073260]">Tuition</h2>
      <p class="mt-2">Prospective students interested in pursuing a Bachelor's Degree in Mass Communication and Marketing at URBE University should be aware of the program's tuition and fees. The total program cost for this degree is $13,850 dollars, which includes all tuition, fees, and other related expenses. The cost per credit is $300 dollars, and the program requires a total of 120 credits to complete. Students will not need to budget for textbooks, as they are provided at no additional cost. Other fees associated with the program amount to $350 dollars, and students are required to pay a one-time registration fee of $100 dollars.</p>
      <a href="#" class="mt-6 inline-block rounded bg-sky-500 px-5 py-2 text-white transition-all hover:bg-sky-600">Tuition calculator</a>
    </div>
  </div>

  <section class="w-full bg-[#073260] text-white">
    <div class="mx-auto max-w-6xl px-4 py-12 sm:px-6 md:py-24 lg:px-8">
      <div class="grid w-full grid-cols-6 items-center gap-8">
        <div class="col-span-6 md:col-span-2">
          <img src="https://urbeuniversity.edu/static_assets/dr-belloso-bw.webp" loading="lazy" alt="Dr. Oscar Belloso Medina black and white portrait" class="mx-auto w-2/3 rounded-full border-[8px] border-white md:mx-0 md:w-full" />
        </div>
        <div class="col-span-6 md:col-span-4">
          <h2 class="text-2xl font-bold uppercase text-white lg:text-3xl">We educate future alumni to become marketable, skilled, and progressive leaders who are socially responsible and uphold ethical business standards.</h2>
          <p class="mt-4 text-lg font-bold text-white">Dr. Oscar Belloso Medina</p>
          <p class="text-white">Chancellor &amp; Founder</p>
        </div>
      </div>
    </div>
  </section>

  <div class="mx-auto max-w-6xl px-4 text-base sm:px-6 lg:px-8">
    <div class="py-12">[cta]</div>
  </div>
