<div class="w-full" style="background-image: url(https://dev.urbe.university/static_assets/page-header-bg.webp)">
    <div class="mx-auto h-full max-w-6xl px-4 sm:px-6 lg:px-8">
      <div class="py-12 text-left text-white sm:py-24">
        <h1 class="text-4xl font-extrabold lg:text-5xl">{{__("Student Services")}}</h1>
        <p class="mt-6 text-lg md:text-xl">{{__("The Student Service Department assists students in different areas for their professional development.")}}</p>
      </div>
    </div>
  </div>

  <div class="mx-auto max-w-6xl px-4 text-base text-slate-700 sm:px-6 lg:px-8">
    <div class="py-12 text-center">
      <h2 class="text-4xl font-bold text-[#073260]">{{__("We offer the following services")}}</h2>
      <p class="mt-3">{{__("Our dedicated staff is here to help you make your career dreams a reality.")}}</p>
    </div>

    <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
      <a href="/student-services/resume-writing" class="col-span-1 rounded-md border bg-white p-4 text-center shadow-sm transition-all hover:shadow-lg">
        <img src="/static_assets/resume-writting.svg" alt="Resume Writing" class="mx-auto"/>
        <h3 class="mt-2 font-semibold">{{__("Resume Writing")}}</h3>
      </a>
      <a href="/student-services/job-resources" class="col-span-1 rounded-md border bg-white p-4 text-center shadow-sm transition-all hover:shadow-lg">
        <img src="/static_assets/professional-development.svg" alt="Job Resources" class="mx-auto"/>
        <h3 class="mt-2 font-semibold">{{__("Job Resources")}}</h3>
      </a>
      <a href="/student-services/networking" class="col-span-1 rounded-md border bg-white p-4 text-center shadow-sm transition-all hover:shadow-lg">
        <img src="/static_assets/networking.svg" alt="Networking" class="mx-auto"/>
        <h3 class="mt-2 font-semibold">{{__("Networking")}}</h3>
      </a>
      <a href="/student-services/past-career-events" class="col-span-1 rounded-md border bg-white p-4 text-center shadow-sm transition-all hover:shadow-lg">
        <img src="/static_assets/career-events.svg" alt="Career Events" class="mx-auto"/>
        <h3 class="mt-2 font-semibold">{{__("Past Career Events")}}</h3>
      </a>
      <a href="https://joinhandshake.com" target="_blank" class="col-span-1 rounded-md border bg-white p-4 text-center shadow-sm transition-all hover:shadow-lg">
        <img src="/static_assets/transitions.svg" alt="Handshake" class="mx-auto"/>
        <h3 class="mt-2 font-semibold">{{__("Handshake")}}</h3>
      </a>
      <a href="/student-services/resume-builder" class="col-span-1 rounded-md border bg-white p-4 text-center shadow-sm transition-all hover:shadow-lg">
        <img src="/static_assets/other.svg" alt="Other services" class="mx-auto"/>
        <h3 class="mt-2 font-semibold">{{__("Other Services")}}</h3>
      </a>
    </div>

    <div class="mt-12">
      <h3 class="text-2xl font-semibold text-[#073260]">Best practices: Crafting your professional profile</h3>

      <ul class="ml-4 mt-3 list-disc">
        <li>Know that you are always on an interview. You are always being observed.</li>
        <li>Remember to be on your best behavior.</li>
        <li>Connections are one of the most powerful tools to help you land that dream job.</li>
        <li>Positive attitudes are always welcomed!</li>
        <li>People will not always remember everything you said but will always remember how you made them feel.</li>
        <li>Clean your Social Media accounts; Twitter, Facebook, Instagram, LinkedIn, etc. Employers investigate also on these social platforms.</li>
        <li>Some postings can contradict your well-polished resume. Always market yourself as a professional.</li>
        <li>Keep your resume clean, with a fresh appearance, putting your name, email and contact number on top.</li>
        <li>Make your resume stand out using key words. Key words are used in electronic research for specific candidates in mind.</li>
        <li>Results are ranked by the amount of times these certain words are found in your resume.</li>
        <li>Action words are important to describe a result driven candidate.</li>
        <li>Summary of qualifications should include action words describing your attributes and skills.</li>
        <li>Education and skill sets can be included after employment history. Employers take several seconds to view a resume, they look first for qualifications, then employment history. Education is important, it is the action words and keywords which drives them to read further about you as a candidate.</li>
      </ul>
    </div>

    <div class="mt-6">
      <h3 class="text-2xl font-semibold text-[#073260]">How to prepare and be proactive for your interview</h3>

      <p class="mt-3">When it comes to interviews, being proactive and well-prepared can significantly increase your chances of success. In this article, we will discuss important steps to take in order to prepare yourself for an interview. From organizing your documents to conducting mock interviews, we'll cover all the essential aspects to help you excel. By following these guidelines, you'll be able to present yourself confidently and make a lasting impression on the interviewer.</p>

      <h4 class="mt-3 text-lg font-medium text-[#073260]">1. Keep your documents handy</h4>
      <p>It's crucial to keep your resume and a list of accomplishments easily accessible in case you receive an unexpected call from a potential employer. This preparedness will allow you to respond promptly and provide accurate information about your skills and experiences.</p>

      <h4 class="mt-3 text-lg font-medium text-[#073260]">2. Set up a suitable interview space</h4>
      <p>Create a quiet and secluded space where you can comfortably conduct the interview. This environment should be free from distractions and ensure privacy, allowing you to focus entirely on the conversation with the interviewer.</p>

      <h4 class="mt-3 text-lg font-medium text-[#073260]">3. Ensure a reliable communication setup</h4>
      <p>For phone interviews, ensure that your cell phone offers an excellent connection to avoid any static or dropped calls. Alternatively, consider using a landline for all interviews. If participating in an online interview, choose a well-lit space with a clean background to project a professional image.</p>

      <h4 class="mt-3 text-lg font-medium text-[#073260]">4. Practice answering interview questions</h4>
      <p>Before the actual interview, practice answering common interview questions aloud. This exercise will help you refine your responses, organize your thoughts, and identify areas where you can improve. Practicing in advance will boost your confidence and minimize mistakes during the actual interview.</p>

      <h4 class="mt-3 text-lg font-medium text-[#073260]">5. Seek feedback through mock interviews</h4>
      <p>Schedule a mock interview with a career counselor at your college, a friend, or a family member who can provide constructive criticism. Consider recording the mock interview to analyze your performance, paying attention to any filler words or repetitive phrases that may hinder your communication.</p>

      <h4 class="mt-3 text-lg font-medium text-[#073260]">6. Prepare for behavioral questions</h4>
      <p>Anticipate tough behavioral questions and prepare answers in advance. Identify specific scenarios from your past experiences, such as courses, internships, or jobs, where you can demonstrate your persuasion skills or problem-solving abilities. This preparation will enable you to provide valuable examples during the interview.</p>

      <h4 class="mt-3 text-lg font-medium text-[#073260]">7. Create a strong first impression</h4>
      <p>Make sure to leave a positive first impression by being clear, friendly, and honest during the interview. Maintain proper eye contact and exhibit professionalism throughout the conversation. Dress in polished, classic attire, such as a solid white shirt with a casual jacket and pants or skirt in appropriate colors, presenting a fresh and clean appearance.</p>

      <h4 class="mt-3 text-lg font-medium text-[#073260]">8. Research the company</h4>
      <p>Demonstrate your interest and dedication by researching the company beforehand. Familiarize yourself with their mission, values, and recent achievements. This knowledge will enable you to ask relevant questions during the interview and showcase your enthusiasm for the role.</p>

      <h4 class="mt-3 text-lg font-medium text-[#073260]">9. Highlight your well-roundedness</h4>
      <p>During the interview, discuss your aspirations and involvement in social and community activities. Emphasize your diverse skills and demonstrate that you are a well-rounded individual, capable of contributing positively both inside and outside the workplace.</p>

      <h4 class="mt-3 text-lg font-medium text-[#073260]">10. Engage with thoughtful questions</h4>
      <p>Engage the interviewer by asking clear, precise questions about the company's goals and future prospects. Actively listen to their responses and convey how your skills and experiences align with their objectives. Demonstrate your potential as an asset to the company.</p>

      <h4 class="mt-3 text-lg font-medium text-[#073260]">11. Secure contact information</h4>
      <p>Request the interviewer's business card or email address to send a personalized thank-you letter after the interview. This gesture reinforces your interest in the position and leaves a positive impression.</p>

      <h4 class="mt-3 text-lg font-medium text-[#073260]">12. Follow up and express continued interest</h4>
      <p>After the interview, follow up on the process by contacting the company again. Express your continued interest in the position and inquire about any next steps. This proactive approach demonstrates your enthusiasm and dedication to securing the job.</p>

      <h4 class="mt-3 text-lg font-medium text-[#073260]">Conclusion</h4>
      <p>By following these proactive steps to prepare for an interview, you'll increase your chances of success. Remember to stay confident, professional, and well-prepared throughout the process. With these strategies in place, you'll be well-equipped to impress the interviewer and secure the job you desire.</p>
    </div>

    <div class="my-12"></div>
  </div>
