<div class="w-full" style="background-image: url(https://urbeuniversity.edu/static_assets/page-header-bg.webp)">
    <div class="mx-auto h-full max-w-6xl px-4 sm:px-6 lg:px-8">
      <div class="py-12 text-center text-white sm:py-24">
        <h1 class="text-5xl font-extrabold">{{__("Code of Ethics")}}</h1>
        <p class="text-lgmt-6 mt-6 text-lg md:text-xl">Our Code of Ethics defines who we are as an institution.</p>
      </div>
    </div>
  </div>
  <section class="w-full pb-24 pt-16">
    <div class="mx-auto max-w-6xl px-4 text-center sm:px-6 lg:px-8">
      <div class="grid grid-cols-6 items-start gap-8">
        <main class="col-span-6 text-left md:col-span-4">
          <div>
            <h2 class="text-urbe text-2xl font-bold">Our Ethical Principles</h2>
            <ul class="ml-4 mt-3 list-disc">
              <li>We conduct ourselves with honesty, integrity and the highest ethical standards.</li>
              <li>We encourage each other to grow and excel by creating a workplace that’s the job of choice.</li>
              <li>We seek out and embrace diversity and inclusion — valuing differences in people, perspectives and experiences.</li>
              <li>We invest in ourselves and the University through our individual and collective dedication.</li>
              <li>We contribute to the communities in which we work and live by being good global, corporate and individual citizens.</li>
              <li>We honor our commitments and promises; we do not promise what we cannot deliver.</li>
              <li>We do not misrepresent to anyone who we are, what we do or what services we provide.</li>
              <li>We abide by and comply with the laws, regulations and rules that govern us wherever we operate in the world.</li>
              <li>We will not sacrifice our values or our goals for the “quick win”; we are focused on building long-term success, stability and excellence.</li>
              <li>We believe the way we do business is as important as the business results we achieve.</li>
              <li>We celebrate and reward our successes, and encourage and support each other.</li>
              <li>We are committed to providing world-class service to our students, customers, partners, shareholders and each other.</li>
            </ul>
          </div>

          <hr class="mt-6" />

          <div class="mt-6">
            <h2 class="text-urbe text-2xl font-bold">Our Approach to Ethical Decision-Making</h2>
            <p class="mt-3">When making decisions and in our daily work, we consider our mission, core values, obligations and these best practices:</p>
            <ul class="ml-4 mt-3 list-disc">
              <li>Clearly identify the issue or concern.</li>
              <li>Gather all relevant facts.</li>
              <li>Review our core values, this Code and URBE University policies on the matter.</li>
              <li>Consider who is impacted by the decision or action.</li>
              <li>Reflect on how these parties are affected.</li>
              <li>Look at each available option and consider whether each one is balanced and fair, and whether anyone is harmed by the potential outcome.</li>
              <li>Consult with experts on the issue.</li>
              <li>Consider what an ethical person would do or think if they learned about the activity or decision or saw it on the news.</li>
              <li>Use good judgment.</li>
            </ul>
          </div>

          <hr class="mt-6" />

          <div class="mt-6">
            <h2 class="text-urbe text-2xl font-bold">Asking Questions or Reporting Concerns</h2>

            <p class="mt-3">Our University is committed to supplying resources that assist employees in understanding their compliance obligations and providing coaching and guidance on ethical issues that may arise.</p>
            <p class="mt-3">Oftentimes, your manager or supervisor is the best person to contact regarding your questions. If there is any reason to believe there has been a violation of our Code, University policy, or a law or regulation, or if an individual has witnessed what is believed to be illegal or unethical behavior in our workplace, employees have a responsibility to report this promptly.</p>
            <p class="mt-3">Our helpline calls are answered by third-party professionals. You may choose to report anonymously. If you choose to make an anonymous report, please provide as much detail as possible in your report, as we will not be able to contact you for follow-up.</p>
            <p class="mt-3">As required by federal law, concerns regarding auditing, internal controls or accounting irregularities must be reported directly to URBE Ethics and Compliance or the helpline, irrespective of their source or materiality, who shall investigate such concerns and, as appropriate, forward them to the University’s board of trustees.</p>
            <p class="mt-3">Failure to report a violation is itself a violation of this Code. Nothing in this Code is intended to discourage reporting any illegal activity — including a violation of any Department of Education regulation or antitrust law or any other federal, state or foreign law, rule or regulation — to the appropriate regulatory or legal authority. The University will maintain the confidentiality and protect the identity of any complainant to the maximum extent possible. This means the University will not disclose the identity of the individual reporting the concern or allegation unless it is determined during the investigation that such disclosure is unavoidable or that the University is required by law to disclose the information.</p>
            <p class="mt-3">Employees cannot be discharged, demoted, suspended, threatened, harassed or in any other manner discriminated or retaliated against for reporting a violation. Likewise, employees cannot discharge, demote, suspend, threaten, harass or in any other manner discriminate or retaliate against those who report a violation. If employees knowingly submit a false report of a violation, they will be subject to disciplinary action.</p>
          </div>

          <hr class="mt-6" />

          <div class="mt-6">
            <h2 class="text-urbe text-2xl font-bold">University Governance</h2>
            <p class="mt-3">The University board of trustees is highly engaged and focused on the core governance principles of ethical leadership, board independence, oversight and accountability.</p>
            <p class="mt-3">The board is responsible for providing oversight of management performance at URBE University and acting in the best interests of the University and our stakeholders.</p>
            <p class="mt-3">University leaders have a special position of trust in the company; leaders are expected to model our core values, mentor others and further a culture of ethical conduct in the workplace through their words and actions. University leadership and administration are responsible for establishing an appropriate system of internal controls to ensure process efficiency, accuracy, and timeliness of company transactions and financial information. They are also responsible for ensuring all University employees understand their obligation to comply with laws and regulations and to prevent fraud and abuse of University resources. Additionally, our leadership is responsible for understanding the risks to us and our stakeholders and taking necessary action to mitigate these risks. To carry out these responsibilities, University leadership, with the approval of the board, has established the University Ethics and Compliance department.</p>
          </div>

          <hr class="mt-6" />

          <div class="mt-6">
            <h2 class="text-urbe text-2xl font-bold">Applicability and Authority</h2>
            <p class="mt-3">The University’s board has adopted and approved this Code for all employees of URBE University and is bound by it as well. Additionally, any outside consultants, contractors, vendors and agents hired by the University are expected to abide by the principles and values set forth in this Code when performing services on behalf of the University. The University has also implemented and administers a Faculty Code of Conduct and a Student Code of Conduct.</p>
          </div>

          <hr class="mt-6" />

          <div class="mt-6">
            <h2 class="text-urbe text-2xl font-bold">Enforcement</h2>
            <p class="mt-3">If the University receives information regarding an alleged violation of this Code, it will take prompt action to evaluate the information and determine whether it is necessary to conduct an informal inquiry or a formal investigation and, if so, initiate an inquiry or investigation. Violations of this Code may result in disciplinary action up to and including termination of employment, as well as referral to law enforcement, as appropriate.</p>
            <p class="mt-3">It is the University’s expectation that individuals who report concerns do so in good faith. Making a report in good faith means the information being reported is true to the best of the individual’s knowledge and includes information the person reporting considers relevant.</p>
          </div>

          <hr class="mt-6" />

          <div class="mt-6">
            <h2 class="text-urbe text-2xl font-bold">Investigations and Audits</h2>
            <p class="mt-3">The University expects individuals to act with integrity when they raise concerns, as well as when concerns are reviewed and considered. Therefore, retaliation against anyone who participates in an investigation, inquiry or audit is prohibited. Such retaliation may lead to disciplinary action against the person, up to and including termination of employment. To report retaliation, refer to the “Asking Questions or Reporting Concerns” section within this Code.</p>
            <p class="mt-3">Employees are expected to cooperate fully and provide accurate, timely and complete information when involved in a discussion, audit, or a reporting or disclosure process with an internal or external auditor or investigator, law enforcement personnel or regulator. Failure to cooperate in an audit or investigation may lead to disciplinary action, up to and including termination.</p>
            <p class="mt-3">In the event of a government investigation or audit, employees should contact the University Legal Services regarding any additional procedures that may apply, including record preservation holds and similar protocols.</p>
          </div>

          <hr class="mt-6" />

          <div class="mt-6">
            <h2 class="text-urbe text-2xl font-bold">Communications with Fellow Employees, Students, the Public and Others</h2>
            <p class="mt-3">In the academic, classroom and social environments, each of us acts as a representative of the University. Employees are expected to demonstrate our values, professionalism and discretion in these interactions. This means we are fair, honest and thoughtful in all of our professional activities and communications. We are transparent regarding our operations, compliant with the rules that govern us and committed to our students. We are thoroughly familiar with the University’s policies relating to our individual areas of responsibility, such as admissions, financial aid, graduation criteria, academic standards and educational methods.</p>
            <p class="mt-3">Our Public and Media Relations and Social Networking policies provide that only specifically authorized personnel may act as University spokespersons. These policies are designed to protect our employees and to ensure our communications with our stakeholders and the public are accurate and consistent. Individuals who receive a request for information from outside the University, and are not authorized to speak on behalf of the University, should forward the request to URBE University Ethics and Compliance and the Public Relations team. Additionally, before publishing, making a speech, giving an interview or presenting at a conference, employees should contact URBE University Ethics and Compliance for guidance.</p>
            <p class="mt-3">Individuals who participate in social networking activities are expected to demonstrate our mission, ethical principles and core values. They must follow all relevant company policies, guidelines and standards, including our Information Security, Privacy, Public Relations, Human Resources and Intellectual Property policies.</p>
          </div>

          <hr class="mt-6" />

          <div class="mt-6">
            <h2 class="text-urbe text-2xl font-bold">Use of URBE University Resources</h2>
            <p class="mt-3">We are expected by our students and other stakeholders to safeguard and use University resources wisely. We exercise good judgment and discretion when using University resources, including, but not limited to, University systems, computers, telephones, internet access, email, voicemail, copiers, fax machines, vehicles, or other funds or property. We should conserve University resources and look for appropriate savings opportunities; this includes the use of resources when traveling on behalf of the University.</p>
            <p class="mt-3">Minor, incidental and infrequent personal use of University resources is sometimes inevitable and allowed if the cost to the University is insignificant and the use does not deplete the value of our assets, interfere with productivity, or create risk or liability to the University.</p>
          </div>

          <hr class="mt-6" />

          <div class="mt-6">
            <h2 class="text-urbe text-2xl font-bold">Gifts and Entertainment</h2>
            <p class="mt-3">Employees who give or receive business gifts or favors, or provide or accept entertainment, should do so only when these activities are in accordance with the Gifts and Entertainment policy, are approved and appropriate, and do not create an expectation or inference of an obligation. We must not offer, provide, solicit or accept any gifts, favors or entertainment that may be intended, considered or construed as a bribe. Any gifts inconsistent with these principles or our Gifts and Entertainment policy should be returned, reported or transferred in the manner described in that policy. Individuals who have any questions regarding gifts and entertainment should contact URBE University Ethics and Compliance.</p>
            <p class="mt-3">Employees may not use University funds or assets to give gifts, favors, entertainment or services to our suppliers, customers, vendors, government officials or government employees. Nor may gifts be offered or accepted from potential or active students without the advance approval of the Operations Compliance Committee.</p>
            <p class="mt-3">As discussed in the Gifts and Entertainment policy, there are different considerations based on who is giving the gift and who is receiving the gift (e.g., students, employees, vendors). Therefore, it is important to review the Gifts and Entertainment policy prior to offering, giving or accepting any gift, entertainment or favor. This policy is located in the Policy Library on the URBE University Ethics and Compliance internal website. Please refer to the “Educational Loans and Student Loan Providers” section of this Code for additional guidelines related to gifts and entertainment.</p>
          </div>

          <hr class="mt-6" />

          <div class="mt-6">
            <h2 class="text-urbe text-2xl font-bold">Educational Loans and Student Loan Providers</h2>
            <p class="mt-3">Employees, their spouses or domestic partners, or their immediate family members may not give or receive gifts, gratuities, entertainment or other favors of any value to or from any current or prospective student loan providers in connection with the University or its business.</p>
            <p class="mt-3">Employees who are involved in contractor selection, purchasing or related approval processes concerning educational loans or student loan providers should refer to the “Sourcing Integrity, False Claims and Government Contracts” section within this Code for additional information regarding these topics.</p>
          </div>

          <hr class="mt-6" />

          <div class="mt-6">
            <h2 class="text-urbe text-2xl font-bold">Disclosures by URBE University</h2>
            <p class="mt-3">We are committed to fair, accurate, complete and timely filings with the U.S. Department of Education, state agencies, accreditors and other regulators, and keeping applicable parties appropriately informed. To ensure the accuracy of our disclosures, only authorized employees can make disclosures to the public or speak on behalf of URBE University.</p>
            <p class="mt-3 font-medium">Authorized employees involved in the University’s disclosure process must:</p>
            <ul class="mt-3 ml-4 list-disc">
              <li>Be familiar with our disclosure requirements and all University operations.</li>
              <li>Accurately represent and ensure others accurately represent, as applicable, information about the University.</li>
              <li>Properly review and analyze proposed disclosures for accuracy and completeness.</li>
            </ul>
          </div>
        </main>

        <aside class="col-span-6 hidden justify-end text-base md:col-span-2 md:flex">
          <ul class="text-left">
            <li class="mt-2">
              <p class="border-l-urbe text-urbe border-l-4 pl-2 text-xl font-semibold">In this section</p>
            </li>
            <li class="mt-4">
              <a href="/about-us/web-accessibility-policy" class="transition-all hover:text-sky-500 hover:underline">Accessibility Policy</a>
            </li>
            <li class="mt-2">
              <a href="/about-us/equal-employment" class="transition-all hover:text-sky-500 hover:underline">Equal Employment</a>
            </li>
            <li class="mt-2">
              <a href="/about-us/campus-safety" class="transition-all hover:text-sky-500 hover:underline">Campus Safety</a>
            </li>
            <li class="mt-2">
              <a href="/about-us/code-of-ethics" class="transition-all hover:text-sky-500 hover:underline">Code of Ethics</a>
            </li>
            <li class="mt-2">
              <a href="/about-us/ferpa" class="transition-all hover:text-sky-500 hover:underline">FERPA</a>
            </li>
            <li class="mt-2">
              <a href="/about-us/student-handbook" class="transition-all hover:text-sky-500 hover:underline">Student Handbook</a>
            </li>
            <li class="mt-2">
              <a href="/about-us/terms-and-conditions" class="transition-all hover:text-sky-500 hover:underline">Website Terms</a>
            </li>
            <li class="mt-2">
              <a href="/about-us/privacy-policy" class="transition-all hover:text-sky-500 hover:underline">Privacy Policy</a>
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </section>
