<div class="w-full" style="background-image: url(https://dev.urbe.university/static_assets/page-header-bg.webp)">
    <div class="mx-auto h-full max-w-5xl px-4 sm:px-6 lg:px-8">
      <div class="py-12 text-center text-white sm:py-24">
        <h1 class="text-5xl font-extrabold">Website Accessibility Policy</h1>
        <p class="text-lgmt-6 mt-6 text-lg md:text-xl">Learn everything you need to know about our institution.</p>
      </div>
    </div>
  </div>
  <section class="w-full pb-24 pt-16">
    <div class="mx-auto max-w-5xl px-4 text-center sm:px-6 lg:px-8">
      <div class="grid grid-cols-6 items-start gap-8">
        <main class="col-span-6 min-h-screen text-left md:col-span-4">
          <div>
            <h2 class="text-urbe text-2xl font-bold">URBE University Policy</h2>
            <p class="mt-3">The University will develop, procure, maintain and use information and communication technology that ensure people with disabilities have comparable access to them.</p>
            <p class="mt-3">All new or modified online content and functionality, including the education platform features, will be accessible to people with disabilities as measured by conformance to the benchmark standards set forth below, except where doing so would impose a fundamental alteration or undue burden.</p>
            <p class="mt-3">In the event of a fundamental alteration or undue burden, the University will nevertheless provide equally effective alternate access. Alternate access will ensure, to the maximum extent possible, that persons with disabilities are afforded an equal opportunity to obtain the same result, to gain the same benefit, or to reach the same level of achievement, in the most integrated setting appropriate to the person's needs. The University is committed to provide information where you can perceive, operate and understand.</p>
          </div>

          <div class="mt-6">
            <h2 class="text-urbe text-2xl font-bold">Benchmark Standards</h2>
            <p class="mt-3">URBE University adheres to these universally accepted benchmark standards established by the <a href="http://www.w3.org/" class="underline">World Wide Web Consortium (W3C)</a> in meeting accessibility commitments.</p>
            <ul class="ml-4 mt-4 list-disc">
              <li>W3C's Web Content Accessibility Guidelines (WCAG) 2.0 Level AA.</li>
              <li>W3C's Authoring Tool Accessibility Guidelines (ATAG) 2.0 for software used to create web content; Level AA.</li>
              <li>W3C's User Agent Accessibility Guidelines (UAAG) 1.0 for user agents supplied by the University, including media players.</li>
            </ul>

            <p class="mt-3">To achieve compliance with these standards, the University will use the following specifications and best practices (among others):</p>
            <ul class="ml-4 mt-4 list-disc">
              <li>Web Accessibility Initiative Accessible Rich Internet Applications Suite (WAI-ARIA) 1.0.</li>
              <li>W3C's MathML 3.0 specification for digital mathematical and scientific notation.</li>
              <li>The DAISY Consortium's Digital Accessible Information System (DAISY) Standard or the International Digital Publishing Forum's (IDPF) EPUB 3 specification for digital publications and documents.</li>
              <li>W3C's Guidance on Applying WCAG 2.0 to Non-Web Information and Communications Technologies (WCAG2ICT) for non-web software and content.</li>
            </ul>
          </div>

          <div class="mt-6">
            <h2 class="text-urbe text-2xl font-bold">Assistive Technology</h2>
            <p class="mt-3">URBE University and the U.S. Department of Education's Office for Civil Rights (OCR) entered into a Resolution Agreement under which the University reaffirms its commitment to ensure independent and equal access to its programs, benefits and services for all students.</p>
          </div>
        </main>
        <section class="col-span-6 hidden justify-end text-base md:col-span-2 md:flex">
          <ul class="text-left">
            <li class="mt-2">
              <p class="border-l-urbe text-urbe border-l-4 pl-2 text-xl font-semibold">In this section</p>
            </li>
            <li class="mt-4">
              <a href="/about-us/web-accessibility-policy" class="transition-all hover:text-sky-500 hover:underline">Accessibility Policy</a>
            </li>
            <li class="mt-2">
              <a href="/about-us/equal-employment" class="transition-all hover:text-sky-500 hover:underline">Equal Employment</a>
            </li>
            <li class="mt-2">
              <a href="/about-us/campus-safety" class="transition-all hover:text-sky-500 hover:underline">Campus Safety</a>
            </li>
            <li class="mt-2">
              <a href="/about-us/code-of-ethics" class="transition-all hover:text-sky-500 hover:underline">Code of Ethics</a>
            </li>
            <li class="mt-2">
              <a href="/about-us/ferpa" class="transition-all hover:text-sky-500 hover:underline">FERPA</a>
            </li>
            <li class="mt-2">
              <a href="/about-us/student-handbook" class="transition-all hover:text-sky-500 hover:underline">Student Handbook</a>
            </li>
            <li class="mt-2">
              <a href="/about-us/terms-and-conditions" class="transition-all hover:text-sky-500 hover:underline">Website Terms</a>
            </li>
            <li class="mt-2">
              <a href="/about-us/privacy-policy" class="transition-all hover:text-sky-500 hover:underline">Privacy Policy</a>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </section>
